<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lefer.tomu.channel.model.PlaylistItemMapper">
    <resultMap id="playlistItemResultMap" type="cn.lefer.tomu.channel.model.PlaylistItem">
        <id column="playlist_item_id" jdbcType="BIGINT" property="playlistItemID"/>
        <result column="channel_id" jdbcType="INTEGER" property="channelID"/>
        <result column="song_id" jdbcType="INTEGER" property="songID"/>
        <result column="add_date" jdbcType="DATE" property="addDate"/>
        <result column="playlist_item_status" jdbcType="VARCHAR" property="playlistItemStatus"/>
    </resultMap>

    <select id="selectNormalPlaylistItemByChannelIDAndSongID" resultMap="playlistItemResultMap">
        select playlist_item_id, channel_id, song_id, add_date, playlist_item_status
        from T_PLAYLIST
        where CHANNEL_ID = #{channelID}
          and SONG_ID = #{songID}
          and PLAYLIST_ITEM_STATUS = #{playlistItemStatus}
        limit 1
    </select>

    <select id="byChannelIDAndSongID" resultMap="playlistItemResultMap">
        select playlist_item_id, channel_id, song_id, add_date, playlist_item_status
        from T_PLAYLIST
        where CHANNEL_ID = #{channelID}
          and SONG_ID = #{songID}
        limit 1
    </select>

    <insert id="insert" parameterType="cn.lefer.tomu.channel.model.PlaylistItem" useGeneratedKeys="true"
            keyProperty="playlistItemID">
        insert into T_PLAYLIST(channel_id, song_id, add_date, playlist_item_status)
        values (#{channelID}, #{songID}, #{addDate}, #{playlistItemStatus})
    </insert>

    <update id="updateStatusByID">
        update T_PLAYLIST
        set PLAYLIST_ITEM_STATUS = #{playlistItemStatus}
        where PLAYLIST_ITEM_ID = #{playlistItemID}
    </update>
</mapper>